<form autocomplete="off">
    <div class="form-group">
        <label>{{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.label'}}</label>
        <div class="form-fields">
            <select name="flags.enhancedcombathud-dnd5e.showPrepared">
                {{#select flags.enhancedcombathud-dnd5e.showPrepared}}
                <option value="auto">{{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.auto'}}</option>
                <option value="preparedOnly">{{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.preparedOnly'}}</option>
                <option value="all">{{localize 'enhancedcombathud-dnd5e.portraitConfig.prepared.all'}}</option>
                {{/select}}
            </select>
        </div>
    </div>

    <button type="submit">
        <i class="fas fa-save"></i> {{localize 'PLAYERS.SaveConfig'}}
    </button>
</form>
